<html lang="en">

<head>
    <title>Movies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet"  href="movies.css">

   

</head>

<body ng-app="myApp" ng-controller="myCtrl" class="bg-body">

    <div class="container ">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-between">
            <div class="container">
                <div  class="col-lg-4 col-md-4 col-sm-12 my-auto"><i class="fas fa-video text-white bg-dark"></i> <a href="" class="navbar-brand">Movie Wiki</a></div>
               
                
                <div class="col-lg-8 col-md-8 col-sm-12 my-auto">
                    <div class="row">
                    <div class="col-lg-6">
                    <input class=" form-control mr-sm-2" type="search" ng-model="search" placeholder="Search Movie Name here..." aria-label="Search">
                    </div>
                    <div class="col-lg-6">
                    <button class="btn btn-primary" ng-click="mySearch(search);">Search</button>
                </div>
            </div>
                </div>
            </div>
        </nav>
        <div class="content">
            <div ng-if="loading==1" class="text-center"><h3>Loading Movies...</h3></div>
                <div ng-if="loading!=1" >
                    Language:
                    <select ng-model="search.language">

                        <option value="">All</option>
                        <option ng-repeat="opt in languageList">{{opt}}</option>
                    </select>
                    Sort By:
                    <select ng-model="myOrder" ng-change="sortBy(myOrder)">

                        <option value="">----</option>
                        <option value="'title_year'">year</option>
                        <option value="'content_rating'">Rating</option>
                    </select>
                    <hr>
                  
                </div>
                <div class="row">
            <div ng-if="loading!=1" class="movies card-group col-lg-8">
                   

                
                <div ng-repeat="movie in movList | orderBy:myOrder1:true" class=" col-lg-6 col-md-6 col-sm-12 px-1">
                   
                    <div class="card  my-1">

                        <div class="card-body" ng-class="movie.bgClass">
                            <h5 class="card-title"><i class="fas fa-film"></i>  {{movie.movie_title}}</h5>
                           <div><button class="btn btn-primary btn-sm" ng-click="addToWatchList(movie);">Add to Watchlist</button></div>
                           <div class="d-flex flex-row justify-content-between"><div> Director: </div><div >{{movie.director_name}}</div></div>
                           <div class="d-flex flex-row justify-content-between"><div> Actors: </div><div >{{movie.actor_1_name}}, {{movie.actor_2_name}}</div></div>
                           <div class="d-flex flex-row justify-content-between"><div> Genres: </div><div >{{movie.genres}}</div></div>
                           <div class="d-flex flex-row justify-content-between"><div> Language: </div><div >{{movie.language}}</div></div>
                            <div class="d-flex flex-row justify-content-between"><div> Country: </div><div >{{movie.country}}</div></div>
                            <div class="d-flex flex-row justify-content-between"><div> Rating: </div><div >{{movie.content_rating}}</div></div>
                            <div class="d-flex flex-row justify-content-between"><div> Budget: </div><div >{{movie.budget}}</div></div>
                            <div class="d-flex flex-row justify-content-between"><div> Year: </div><div >{{movie.title_year}}</div></div>
                           <div class="d-flex flex-row justify-content-between"><div> IMDB: </div><div ><small><a href="{{movie.movie_imdb_link}}">{{movie.movie_imdb_link}}</a></small></div></div>
                            <div class="d-flex flex-row justify-content-between mt-3"><div><small>Keywords: </small> </div><div ><small>{{movie.plot_keywords}}</div></small></div>
                           
                        </div>
                    </div>

                </div>
           
                    
            </div>

            <div ng-if="loading!=1" class="watchlist col-lg-4">
                   
                            <div class="card">
                                <div class="card-titile"><h5>My Watchlist</h5></div>
                                <div class="card-body">
                                    <div ng-repeat="movie in watchList">{{movie.movie_title}}</div>
                                </div>
                            </div>
                            
            </div>
        </div>
        </div>
       <script src="movies.js"></script>
</body>

</html>